@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
 
body.royal_loader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
       -moz-transition: opacity 0.2s linear 0.8s;
        -ms-transition: opacity 0.2s linear 0.8s;
         -o-transition: opacity 0.2s linear 0.8s;
            transition: opacity 0.2s linear 0.8s;
}
#royal_preloader.complete {
    opacity: 0;
}
#royal_preloader .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    -webkit-transition: background 0.5s linear;
       -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
         -o-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
#royal_preloader.number .name {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
       -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
         -o-transition: -o-transform 0.3s linear;
            transition: transform 0.3s linear;
    -webkit-animation: fly 0.3s;
       -moz-animation: fly 0.3s;
        -ms-animation: fly 0.3s;
         -o-animation: fly 0.3s;
            animation: fly 0.3s;
}
#royal_preloader.number .percentage {
    color: #FFFFFF;
    font-family: Impact, Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: -90px 0px 0px -90px;
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 80px;
    width: 180px;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s linear 0.5s;
       -moz-transition: all 0.3s linear 0.5s;
        -ms-transition: all 0.3s linear 0.5s;
         -o-transition: all 0.3s linear 0.5s;
            transition: all 0.3s linear 0.5s;
}
#royal_preloader.text .loader {
    color: #FFFFFF;
    position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
    top: 50%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    letter-spacing: 3px;
    font-size: 36px;
    white-space: nowrap;
}
#royal_preloader.text .loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: left 0.3s linear;
       -moz-transition: left 0.3s linear;
        -ms-transition: left 0.3s linear;
         -o-transition: left 0.3s linear;
            transition: left 0.3s linear;
}
#royal_preloader.logo .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0px 0px -40px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
#royal_preloader.logo .loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: bottom 0.3s linear;
       -moz-transition: bottom 0.3s linear;
        -ms-transition: bottom 0.3s linear;
         -o-transition: bottom 0.3s linear;
            transition: bottom 0.3s linear;
}
#royal_preloader.logo .percentage {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: 40px 0px 0px -40px;
    color: #072E77;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}

#menu-wrap {
    position: fixed;
	width:100%;
	z-index:1000;
	top:0;
	left:0;
}

#menu-wrap > .container {
	width: 95%;
	text-align: center;
}

#menu-wrap > .container > .sixteen.columns {
	width: auto;
	float: none;
	display: inline-block;
}

.menu-back{
	background:var(--menu-bg-color-transparent);
}

ul.slimmenu li ul li a {
    color: #fff;
}
ul.slimmenu li ul li a:hover {
}
ul.slimmenu li ul li { 
	background:none;
	padding-left:0; }
ul.slimmenu li ul {
	background:rgba(41,41,41,.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.logo{
	position:absolute;
	width:75px;
	height:75px;
	z-index:10000;
	left:0;
	top:10px;
	background:url('../images/logo_100_100.png') no-repeat center center;
	background-size:75px 75px;
}

.contact-info {
	position: absolute;	
	right: 0;
	top: 20px;
	height: 40px;
	-ms-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
	z-index: 10;
}

.contact-info a {
	display: block;
	color: var(--main-text-color-transparent);
	font-size: var(--header-font-size-mobile);
	font-weight: bold;
}

.contact-info .whats-app-icon{
	width:40px;
	height:40px;
	background:url('../images/whats-app.png') no-repeat center center;
	background-size:40px 40px;
}


.contact-info a.whats-app {
	display: inline-block;
	margin-left: 15px;
}	
.contact-info .phones {
	display: inline-block;
	color: var(--main-text-color);
	transform: translateY(-60%);
}

.menu-collapser {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    border-style: solid;
    border-width: 1px;
	border-radius: 5px;
    color: var(--main-text-color);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: var(--black-color);
}
.collapse-button:hover .icon-bar, .collapse-button:focus .icon-bar {
	background-color: var(--main-bg-color);
}

.collapse-button .icon-bar {
    background-color: var(--black-color);
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
	padding-top:5px;
	padding-bottom: 5px;
	padding-right:10px;
	text-align:right;
	margin-top:13px;
	margin-bottom:10px;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
	background-size:15px 10px;
	padding-left:20px;
}
ul.slimmenu > li {}
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
    display: block;
    color: var(--main-text-color);
    padding: 10px 0px;
	cursor:pointer;
    margin: 0px 12px;
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	text-transform:uppercase;
    border-bottom:1px solid rgba(0,0,0,0);
    font-size: var(--header-font-size-mobile);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
ul.slimmenu li a:hover {
    text-decoration: none;
}
ul.slimmenu li:first-child {
	background:none;
}

ul.slimmenu li .sub-collapser {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
	display:none;
}
ul.slimmenu li .sub-collapser > i {
	display:none;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul a{
    font-size:10px;
}
ul.slimmenu li ul li:first-child { 
	background:none; }
ul.slimmenu li ul li {
	background:none;
	padding-left:0; }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
	text-align:left;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 150%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}
ul.slimmenu.collapsed {
	padding:0;
	margin:0;
}
ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid var(--gray-transparent);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.slimmenu.collapsed li:last-child a {
	border-bottom: none;
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}

#home-section{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
.big-text { 
	position: absolute; 
	top: 50%;
	margin-top:-30px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 0 15px rgba(0,0,0,0.3);
	text-transform:uppercase;
	text-align:center;
	font-weight:700;
	font-size: 50px; 
	line-height:50px;
	color: #ededed;
	z-index: 20; 
}
.big-text span{ 
	background: rgba(0,0,0,.3); 
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
}
.small-text { 
	position: absolute; 
	top: 50%;
	margin-top:55px;
	color:#fff;
	width: 100%;
	font-family: var(--font-hand);
	text-shadow: 0 0 5px rgba(0,0,0,0.1);
	text-align:center;
	font-size: 30px; 
	line-height:25px;
	z-index: 20; 
}
.flippy {
position: relative;
}
.flippy > * {
position: absolute;
opacity: 0;
width:100%;
top:-100px;
}
.flippy > *:first-child {
opacity: 1;
top: 0;
}

#video-background { 
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	object-fit: cover;
}

.scroll-btn {
	position: absolute;
	font-size: 10px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	bottom:30px;
	left:50%;
	margin-left:-30px;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	width: 60px;
	height:40px;
	background:url('../images/arrow-down.png') no-repeat center bottom;
	background-size:30px 16px;
	z-index: 3900;
	opacity:.8;
} 
.scroll-btn {
    -webkit-animation: arrows 3.8s infinite;
    -webkit-animation-delay: 1s;
    animation: arrows 3.8s infinite;
    animation-delay: 1s;
}
  @keyframes arrows {
    0% { bottom:30px; }
    10% { bottom:40px; }
    20% { bottom:30px; }
    30% { bottom:40px; }
    40% { bottom:20px; }
    50% { bottom:40px; }
    60% { bottom:30px; }
    70% { bottom:40px; }
    80% { bottom:20px; }
    90% { bottom:40px; }
    100% { bottom:30px; }
  }
  @-webkit-keyframes arrows {
    0% { bottom:30px; }
    10% { bottom:40px; }
    20% { bottom:30px; }
    30% { bottom:40px; }
    40% { bottom:20px; }
    50% { bottom:40px; }
    60% { bottom:30px; }
    70% { bottom:40px; }
    80% { bottom:20px; }
    90% { bottom:40px; }
    100% { bottom:30px; }
  }

h1 span:before  {
	content:'-';
	padding-right:10px;
	font-weight: 400;
}
h1 span:after  {
	content:'-';
	padding-left:10px;
	font-weight: 400;
}
.head-subtext {
	text-align:center;
	padding-top:20px;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size: var(--section-header-subtext-font-size-mobile);
	line-height:var(--section-header-subtext-line-height-mobile);
	color:var(--main-text-color);
}
.head-subtext.strong {
	font-weight: 900;
	color: var(--gold-color);
	padding-top: 10px;
}
.head-subtext.strong > u{
	text-decoration: underline;
	color: var(--main-text-color);
}
#services-section .head-subtext {
	padding-bottom:10px;
}
#services-section .head-subtext b{
	color: var(--gold-color);
	text-decoration: none;
}

#about-section,
#products-section{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	z-index: 2;
}
#services-section,
#pricing-section,
#about-section,
#products-section,
#contact-section {
	padding-top: var(--section-padding-top-mobile);
}
#contact-section {
	padding-bottom: 50px;
}
#about-section h3,
#products-section h3{
	font-size: var(--section-subheader-font-size-mobile);
	font-weight: 700;
	margin-bottom: 10px;
}
#contact-section h3 {
	font-size: var(--section-subheader-font-size-mobile);
	font-weight: 700;
	margin-bottom: 20px;
}
#about-section > .container,
#products-section > .container {
	margin-bottom: 20px;
}
#about-section h6,
#products-section h6 {
	text-align:center;
	padding-bottom:15px;
}
 #about-section img,
 #products-section img{
	width:100%;
	/* height:auto; */

	display:block;
	margin: 0 auto;
	text-align:center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	border-radius: 7px;
}  
 #about-section img:hover,
 #products-section img:hover{
    -webkit-transform: scale(0.8);  
    -moz-transform: scale(0.8);  
    -ms-transform: scale(0.8);   
    -o-transform: scale(0.8);   
    transform: scale(0.8);
} 
  
.flipWrapper {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	width: 100%;
	height: var(--flip-box-height);
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	text-align:center;
}

.flipWrapper.service {
	height: var(--flip-box-height-service);
}

.flipWrapper .card.flipped {
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	-ms-transform: rotatey(180deg);
	-o-transform: rotatey(180deg);
	transform: rotatey(180deg);
}
.flipWrapper .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	margin: 0 auto;
	text-align:center;
}
.flipWrapper .card .layover {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: var(--gray-transparent);
	border-radius: var(--box-border-radius);
	-webkit-border-radius: var(--box-border-radius);
  	-moz-border-radius: var(--box-border-radius);
}
.flipWrapper .card .front,
.flipWrapper .card .back {
	height: var(--flip-box-height);
	width: 100%;
}
.flipWrapper.service .card .front,
.flipWrapper.service .card .back {
	height: var(--flip-box-height-service);
}
.flipWrapper .card .front > .title-wrapper {
	min-height: 50px;
	margin-bottom: 15px;
	position: relative;
}
.flipWrapper .card .front > .title-wrapper.long-title {
	margin-bottom: 20px;
	margin-top: 5px;
}
.flipWrapper.service .card .front,
.flipWrapper.service .card .back{
	padding: 15px 15px 20px 15px;
	background-color: var(--gold-color);
	z-index: 2;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: 0 0 10px var(--gold-color);
}
.flipWrapper.service .card .front i,
.flipWrapper.service .card .back i {
	font-size: 45px;
	margin-right: 10px;
	color: var(--main-text-color);
	float: left;
}

.flipWrapper.service .card .front p i,
.flipWrapper.service .card .back p i {
	font-size: 21px;
	margin-right: 8px;
}
.flipWrapper.service .card .front .title-wrapper > h3 {
	display: block;
	text-align: center;
	color: var(--main-text-color);
	font-size: var(--section-subheader-font-size-mobile);
	font-weight: 500;
	line-height: var(--section-subheader-line-height-mobile);
	position: absolute;
	top: 50%;
	width: 100%;
	padding-left: 18%;
	-ms-transform: translatey(-50%);
	transform: translatey(-50%);
	box-sizing: border-box;
}
.flipWrapper .card .back p,
.flipWrapper.service .card .front p,
.flipWrapper.service .card .back p {	
	color: var(--main-text-color);
	text-align: left;
	font-size: var(--content-text-font-size-mobile);
	line-height: var(--content-text-line-height-mobile);
	margin-bottom: 8px;
}
.flipWrapper .card .front .layover p,
.flipWrapper .card .back .layover p{
	color: var(--main-bg-color);
	font-size: 18px;
	margin: 10px 0;
	text-align: center;
	padding: 0;
}
.flipWrapper .card .face {
	position: absolute;
	margin: 0 auto;
	text-align:center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 2;
}
.flipWrapper .card .front {
	position: absolute;
	z-index: 1;
	color: white;
	cursor: pointer;
	box-shadow: 0 0 15px var(--gray-transparent);
	border-radius: var(--box-border-radius);
	-webkit-border-radius: var(--box-border-radius);
  	-moz-border-radius: var(--box-border-radius);
	overflow: hidden;
}

.flipWrapper .card .back {
	-webkit-transform: rotatey(-180deg);
	-moz-transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg);
	-o-transform: rotatey(-180deg);
	transform: rotatey(-180deg);
	background-color: var(--gold-color-transparent);
	box-shadow: 0 0 10px var(--gold-color);
	cursor: pointer;
	width:100%;
	height:100%;
	box-sizing: border-box;
	padding:20px 15px 20px 20px;
	border-radius: var(--box-border-radius);
	-webkit-border-radius: var(--box-border-radius);
  	-moz-border-radius: var(--box-border-radius);
	overflow: hidden;
}
 
/* #testimonials section
================================================== */ 
.test{
	position:relative;
	width:100%;
	z-index:100;
	text-align:center;
	margin:0 auto;
}
.test h6{
	font-size: 16px;
	line-height:22px;
	padding-bottom:25px;
	padding-top:15px;
}
.test p{
	padding-bottom:10px;
	font-size: 90%;
	text-align:center;
	color:#fff;
}
.test span{
	border-top:1px solid rgba(255,255,255,.7);
	padding-top:5px;
}

.icon-test  {
	position:relative;
	font-family: 'FontAwesome';
	font-size: 26px;
	line-height: 26px;
	height: 26px;
	width:100%;
	margin:0 auto;
	padding-bottom:20px;
	text-align:center;
}

.section-separator {
	height: 20px;
	width: 100%;
	border-top: 2px solid var(--gray-transparent);
}

.contact-data-wrap{
	position: relative; 
	margin: 0 auto;
	overflow:hidden;
	padding:20px 5px 40px 5px;
	background:var(--main-bg-color);
}
.contact-data-wrap > p > a{
	color: var(--main-text-color);
	margin-right: 25px;
}
.contact-data-wrap > p > a:last-child{
	margin-right: 0;
}
.contact-data-wrap h6{
	padding:20px 0 15px 0;
	text-align:center;
}
.contact-data-wrap > p.eight.columns{
	margin-left: 0;
	margin-right: 0;
	font-size: var(--content-text-font-size-mobile);
	line-height: var(--content-text-line-height-mobile);
	margin-bottom: 10px;
	color:var(--main-text-color);
}
.contact-data-wrap > p > a > i{
	font-size: 18px;
	width: 18px;
	display: inline-block;
}
.contact-data-wrap > p span{
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size: 20px;
	line-height: 20px;
	text-transform:uppercase;
	padding-right:10px;
	font-weight: 800;
}
.contact-data-wrap form label {
	font-size: var(--content-text-font-size-mobile);
}
.icon-contact1{
	font-family: 'FontAwesome'; 
	font-size: 20px;
	line-height: 20px;
	text-align:center;
	z-index:6;
	padding-right:10px;
} 

.contact-data-wrap p:last-child{
	padding-bottom:0;
}
.contact-form label {
	margin-bottom: 5px;
}
#ajax-form {
	width: 100%;
	font-size: 10px;
	line-height:14px;
	color:var(--main-text-color);
	margin:0 auto;text-transform:uppercase;
}
label {
	display: block;
	font-size: var(--content-text-font-size-mobile);
	line-height:var(--content-text-line-height-mobile);
}
input{
	width: 96%;
	border: none;
	margin-top: 5px;
	margin-bottom:20px;
	font: var(--content-text-font-size-mobile)/24px 'Roboto', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	background: rgba(0,0,0,0);
}
input[type="text"]{
	border:1px solid var(--black-color);
	margin-top: 2px;
}
textarea {
	width:96%;
	border:1px solid #000;
	font: var(--content-text-font-size-mobile)/24px 'Roboto', sans-serif;
	height:90px;
	margin-top:2px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: rgba(0,0,0,0);
}
.error {
	font: 12px/22px 'Roboto', sans-serif;
	text-transform:uppercase;
	display: none;
	margin-left: 10px;
	color:red;
}
#ajaxsuccess {
	background: transparent;
	color:var(--black-color-transparent);
	font: 20px/60px 'Roboto', sans-serif;
	height:60px;
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}
.button-container {
	position:relative;
	text-align:center;
	width: 100%;
	margin:0 auto;
	margin-top:10px;
}
.button-container > .loader{
	width: 30px;
	height: 30px;
	opacity: 1;
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 30%;
	margin-left: 20px;
	display: none;
}
.action-button{
	padding:10px 20px;
	width: auto;
	margin:0 auto;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height:20px;
	color:#fff;
	background: var(--gray-transparent);
	text-transform:uppercase;
	-webkit-border-radius: var(--box-border-radius);
	border-radius: var(--box-border-radius);
 }
.action-button:hover{
	background: rgba(0,0,0,.6);
 }
.action-button:focus{ 
    outline: none !important;
 }
.text-align-center{
	text-align:center;
	padding-top:10px;
 }
	#ajax-form textarea:active,
	#ajax-form input:active {	
		color: var(--gray-transparent);
		/* border-bottom:1px solid rgba(100,100,100,.3); */
	}
	#ajax-form textarea:active,
	#ajax-form input:hover {	
		color: var(--gray-transparent);
		/* border-bottom:1px solid rgba(255,255,255,.3); */
	}
	#ajax-form textarea:focus,
	#ajax-form input:focus {	 
    outline: none !important;
    border-color: rgba(255,255,255,.6);
    box-shadow: 0 0 10px rgba(0,0,0,.4);}
	#ajax-form input {	
		color: var(--gray-transparent);
		border-bottom:1px solid var(--gray-transparent);
	}
	#ajax-form textarea {	
		color: var(--gray-transparent);
	}

#ajax-form input[type="text"]{
	padding-left:2%;
	padding-right:2%;
}
#ajax-form input[type="text"], textarea{
	padding-left:2%;
	padding-right:2%;
} 
 
/* #footer
================================================== */

#footer{
	position: relative; 
	margin: 0 auto;
	width: 95%;
	background:var(--gray-transparent);
	padding:25px 0 15px 0;	
	font-size: var(--footer-font-size-mobile);
}
#footer .back-top{
	position: absolute; 
	cursor:pointer;
	top:-50px;
	left:50%;
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	width:40px;
	height:40px;
	font-family: 'FontAwesome';
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	text-align:center;
	z-index:100;
	font-size: 22px;
	line-height: 40px;
	background:var(--gray-transparent);
	-webkit-box-shadow: 0 -5px 15px -5px #000;
	-moz-box-shadow: 0 -5px 15px -5px #000;
	box-shadow: 0 -5px 15px -5px #000;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#footer .back-top:hover{
	background:#101010;
	-webkit-box-shadow: 0 -5px 5px -5px #000;
	-moz-box-shadow: 0 -5px 5px -5px #000;
	box-shadow: 0 -5px 5px -5px #000;
}
#footer p{
	text-transform:uppercase;
	font-size: 12px;
	line-height:22px;
	text-align:center;
	padding-bottom:5px;
}
#footer-nav > li{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
}
#footer-nav > li:last-child{
	margin-right: 0;
}
#footer-nav a{
	color: #fff;
}

/* #services-section
================================================== */

#services-section{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
} 

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
}
.isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
         -o-transition-property:         top, left, opacity;
            transition-property:         transform, opacity;
}

@keyframes arrows1 {
	0% { bottom:40px; }
	10% { bottom:50px; }
	20% { bottom:40px; }
	30% { bottom:50px; }
	40% { bottom:30px; }
	50% { bottom:50px; }
	60% { bottom:40px; }
	70% { bottom:50px; }
	80% { bottom:30px; }
	90% { bottom:50px; }
	100% { bottom:40px; }
}
@-webkit-keyframes arrows1 {
	0% { bottom:40px; }
	10% { bottom:50px; }
	20% { bottom:40px; }
	30% { bottom:50px; }
	40% { bottom:30px; }
	50% { bottom:50px; }
	60% { bottom:40px; }
	70% { bottom:50px; }
	80% { bottom:30px; }
	90% { bottom:50px; }
	100% { bottom:40px; }
}

.video{ 
	width: 100%;
	height:auto;
	display:block;
}
iframe{ 
	width:100%;
	height:auto;
	display:block;
}

/* #pricing-section
================================================== */

#pricing-section{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	background:var(--main-bg-color);
	z-index:2;
}

#pricing-section .head-subtext {
	padding-bottom: 10px;
}

.services-list p { margin: 10px 0 10px 0;padding:0; }

.list-services li { 
    list-style: none; 
    margin:0 auto; 
    text-align: center; 
	border-top:1px dashed rgba(100,100,100,.4);
	margin-left:20px;
	margin-right:20px;
	font-size: 10px;
	text-transform:uppercase;
}
.list-services li:last-child { 
	border-bottom:1px dashed rgba(100,100,100,.4);
}

@keyframes dollar {
	0% { top:0; }
	10% { top:10px; }
	20% { top:0; }
	30% { top:10px; }
	40% { top:-5px; }
	50% { top:10px; }
	60% { top:0; }
	70% { top:10px; }
	80% { top:-5px; }
	90% { top:10px; }
	100% { top:0; }
}
@-webkit-keyframes dollar {
	0% { top:0; }
	10% { top:10px; }
	20% { top:0; }
	30% { top:10px; }
	40% { top:-5px; }
	50% { top:10px; }
	60% { top:0; }
	70% { top:10px; }
	80% { top:-5px; }
	90% { top:10px; }
	100% { top:0; }
}

/* Price calculator
================================================== */
#price-calculator {
	color: var(--main-text-color);
}

#house-options, #office-options {
	padding-left: 5px;
}

#house-options-generic, #house-options-maintenance, #house-options-constructor,
#office-options-generic, #office-options-maintenance, #office-options-constructor,
#villas-options-generic, #villas-options-maintenance, #villas-options-constructor,
#house-options-generic-room-extra-options, #house-options-generic-kitchen-extra-options,
#house-options-maintenance-room-extra-options, #house-options-maintenance-kitchen-extra-options,
#house-options-constructor-room-extra-options, #house-options-constructor-kitchen-extra-options {
	width: 100%;
	margin-top: 10px;
}

.price-calculator-section {
	box-sizing: border-box;
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.price-calculator-section .radio-label {
	font-size: var(--content-text-font-size-mobile);
	line-height: var(--content-text-line-height-mobile);
}

#price-calculator .hideable {
	display: none;
}

#price-calculator .title-and-slider,
#price-calculator .title-and-slider .extra-service-detail.hideable {
	width: 100%;
}

.price-calculator-section > h3 {
	/* display: inline-block; */
	display: block;
	font-size: var(--section-subheader-font-size-mobile);
	line-height: var(--section-subheader-line-height-mobile);
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.price-calculator-section > p,
.price-calculator-section > output {
	display: block;
	font-size: var(--content-text-font-size-mobile);
	margin-bottom: 0;
}

.price-calculator-section .areas-detail .title {
	display: inline-block;
	font-size: var(--content-text-font-size-mobile);
	margin-bottom: 0;
}

.price-calculator-section > label {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.price-calculator-section input {
	width: auto;
}

.price-calculator-section > label > input[type=radio] {
	align-items: center;
	-webkit-appearance: none;
	background-color: var(--gold-color);
	/*border: 2px solid var(--main-bg-color);*/
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin: 0 5px 0 0;
	min-height: 18px;
	max-height: 18px;
	min-width: 18px;
	max-width: 18px;
	position: relative;
	outline: none;
}

.price-calculator-section > label > input[type=radio]:checked {
	background-color: var(--main-bg-color);
	border: 4px solid var(--gold-color);
}

.price-calculator-section > label > input[type=radio]:before {
	border-radius: 50%;
	content: "";
	display: block;
	height: 6px;
	width: 6px;
}

.price-calculator-section .extra-service-detail > label {
	display: inline-block;
}

.price-calculator-section > .extra-service-toggle {
	display: flex;
	margin-bottom: 10px;
}

.price-calculator-section > .extra-service-toggle .title {
	margin: 0;
	font-size: var(--content-text-font-size-mobile);
}

.price-calculator-section > .extra-service-toggle .title-and-slider > .title {
	margin-bottom: 5px;
}

.price-calculator-section > .extra-service-toggle > .toggle-wrapper {
	/* align-items: center;
	display: flex; */
	margin: 0 10px 0 0;
	position: relative;
}

.price-calculator-section > .extra-service-toggle > .toggle-wrapper > input[type=checkbox]{
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	padding: 0;
	width: 100%;
	z-index: 5;
}

.price-calculator-section > .extra-service-toggle > .toggle-wrapper > input[type=checkbox]:checked+label{
	background: var(--gold-color);
}

.price-calculator-section > .extra-service-toggle > .toggle-wrapper > input[type=checkbox]:checked+label:after{
	left: 24px;
}

.price-calculator-section > .extra-service-toggle > .toggle-wrapper > label{
	background: var(--black-color);
	border-radius: 45px;
	display: inline-block;
	height: 24px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 45px;
}

.price-calculator-section > .extra-service-toggle > .toggle-wrapper > label:after{
	background: var(--main-bg-color);
	border-color: black;
	color: var(--gold-color);
	font-size: 12px;
	font-weight: 500;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	content: "";
	height: 18px;
	position: absolute;
	left: 3px;
	top: 3px;
	transition: .5s;
	width: 18px;
	z-index: 2;
}

.areas-detail > output,
.extra-service-detail > output{
	font-weight: bold;	
	font-size: var(--section-subheader-font-size-mobile);
}


#price-info {
	position: relative;
	display: block;
	width: 100%;
	min-width: 100%;
	margin-top: 20px;
}

#price-info .summary-line {
	position: relative;
	width: 100%;
	min-width: 300px;
	margin-top: 10px;
}

#price-info .summary-line:first-child {
	margin-top: 0;
}

#price-info .summary-line .summary-line-title {
	display: inline-block;
	width: 70%;
}

#price-info .summary-line:not(.indent) {
	font-size: 16px;
}

#price-info .summary-line.indent {
	font-size: 14px;
	margin-top: 0;
}

#price-info .summary-line.indent .summary-line-title {
	padding-left: 10px;
}

#price-info .summary-line .summary-line-price,
#price-info #summary-total .summary-line-price {
	position: absolute;
	right: 0;
}

#summary-lines {
	padding-bottom: 10px;
}

#price-info #summary-total {
	position: relative;
	padding: 10px 0;
	border-top: 1px solid #000;
	color: var(--main-text-color);
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	min-width: 300px;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
}

input[type='range']::-webkit-slider-runnable-track{
	background: var(--black-color);
	height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -8px; /* Centers thumb on the track */
	background-color: var(--gold-color);
	height: 20px;
	width: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

input[type="range"]::-moz-range-track {
	background: var(--black-color);
	height: 5px;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -12px; /* Centers thumb on the track */
	background-color: var(--gold-color);
	height: 20px;
	width: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

section h1 {
	font-size: var(--section-header-font-size-mobile);
}

#presentation-video-header {
	margin-top: 10px;
}
#presentation-video {
	position: relative;
	margin-top: 10px;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	box-shadow: 0 0 15px var(--gray-transparent);
	border-radius: var(--box-border-radius);
	overflow: hidden;
	-webkit-border-radius: var(--box-border-radius);
  	-moz-border-radius: var(--box-border-radius);
}
#presentation-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal {
	z-index: 20000;
	color: var(--black-color);
	position: fixed;
	width: 100%;
	height: 90%;
	background: #fff;
	top: 12%;
	bottom: 0;
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	display: none;
}
.modal-dialog {
	overflow-y: initial !important;
	overflow-y: scroll;
	max-height:85%;
	/* margin-top: 50px;
	margin-bottom:50px; */
}
.modal-content {
	padding: 20px 10px;
}
.modal-content h1{
	font-size: var(--section-header-font-size-mobile);
	margin-bottom: 20px;
}
.modal-content h2{
	font-size: var(--section-subheader-font-size-mobile);
	line-height: var(--section-subheader-line-height-mobile);
	margin-bottom: 10px;
	text-align: left;
}
.modal-content p{
	font-size: var(--content-text-font-size-mobile);
	line-height: var(--content-text-line-height-mobile);
	margin-bottom: 10px;
}
.modal-footer {
	padding: 10px;
	text-align: right;
}
.modal-body {
	height: 70vh;
  	overflow-y: auto;
}
#voucher-wrapper {
	text-align: right;
}
#voucher-wrapper > #voucher-code{
	margin-right: 10px;
}
#voucher-wrapper > #voucher-error{
	display: none;
	color: red;
	font-size: var(--content-text-font-size-mobile);
}
#voucher-wrapper > #discount-percent{
	display: none;
}
 
/* #Media Queries
================================================== */


@media only screen and (max-width: 767px) {
	h1 { font-size: 28px; line-height:28px; }
	#royal_preloader.text .loader {
		letter-spacing: 2px;
		font-size: 26px;
	}
	.logo{
		width:60px;
		height:60px;
		left:5px;
		top:10px;
		background:url('../images/logo_100_100.png') no-repeat center center;
		background-size:60px 60px;
	}
	ul.slimmenu li a:hover {
		border-bottom:none;
		background:none;
	}
	ul.slimmenu li {
		background:none;
	}
	ul.slimmenu li > ul {
		width: 100%;
		text-align:right;
	}
	.contact-info {
		left: 51%;
		right: auto;
	}
	.contact-info .phones i {
		margin-right: 3px;
	}
	#menu-wrap .container .sixteen.columns{
		width: 100%;
	}
	.button-container > .loader{
		right: 20%;
	}
	.price-calculator-section > h4 {
		font-size: 18px;
	}
}

@media only screen and (min-width: 768px) {
	#house-options-generic, #house-options-maintenance, #house-options-constructor,
	#office-options-generic, #office-options-maintenance, #office-options-constructor,
	#house-options-generic-room-extra-options, #house-options-generic-kitchen-extra-options,
	#house-options-maintenance-room-extra-options, #house-options-maintenance-kitchen-extra-options,
	#house-options-constructor-room-extra-options, #house-options-constructor-kitchen-extra-options {
		margin-left: -10px;
		margin-right: -10px;
	}
}

@media only screen and (min-width: 992px) {
	
	.sixteen.columns {
		margin-left: 0;
		margin-right: 0;
	}
	
	.contact-info {
		top: 24px;
	}

	label {
		font-size: var(--content-text-font-size-desktop);
		line-height:var(--content-text-line-height-desktop);
	}

	#about-section .flipWrapper .card .layover,
	#products-section .flipWrapper .card .layover{
		display: none;
	}

	ul.slimmenu li a {
		font-size: var(--header-font-size-desktop);
	}
	#menu-wrap .contact-info a {
		font-size: var(--header-font-size-desktop);
	}
	
	section h1 {
		font-size: var(--section-header-font-size-desktop);
	}

	.head-subtext {
		font-size: var(--section-header-subtext-font-size-desktop);
		line-height:var(--section-header-subtext-line-height-desktop);
	}

	.flipWrapper.service .card .front .title-wrapper > h3 {
		font-size: var(--section-subheader-font-size-desktop);
		line-height: var(--section-subheader-line-height-desktop);
	}
	
	.price-calculator-section > h3 {
		font-size: var(--section-subheader-font-size-desktop);
		line-height: var(--section-subheader-line-height-desktop);
	}

	.price-calculator-section > p,
	.price-calculator-section > output {
		font-size: var(--content-text-font-size-desktop);
	}
	
	.price-calculator-section .radio-label {
		font-size: var(--content-text-font-size-desktop);
		line-height: var(--content-text-line-height-desktop);
	}

	.price-calculator-section .areas-detail .title {
		font-size: var(--content-text-font-size-desktop);
	}

	.price-calculator-section > .extra-service-toggle {
		width: 50%;
	}

	.price-calculator-section > .extra-service-toggle .title {
		margin: 0;
		font-size: var(--content-text-font-size-desktop);
	}

	.price-calculator-section.villas input[type="range"],
	.price-calculator-section.office input[type="range"] {
		width: 50%;
	}

	#services-section,
	#pricing-section,
	#about-section,
	#products-section,
	#contact-section {
		padding-top: var(--section-padding-top-desktop);
	}
	
	#services-section,
	#pricing-section,
	#about-section h3,
	#products-section h3,
	#contact-section h3 {
		font-size: var(--section-subheader-font-size-desktop);
	}

	.areas-detail > output,
	.extra-service-detail > output{
		font-size: var(--section-subheader-font-size-desktop);
	}

	.flipWrapper .card .back p,
	.flipWrapper.service .card .front p,
	.flipWrapper.service .card .back p {
		font-size: var(--content-text-font-size-desktop);
		line-height: var(--content-text-line-height-desktop);
	}

	.contact-data-wrap > p.eight.columns{
		font-size: var(--content-text-font-size-desktop);
		line-height: var(--content-text-line-height-desktop);
		text-align: center;
	}

	.contact-data-wrap form label {
		font-size: var(--content-text-font-size-desktop);
	}

	.contact-info {
		-ms-transform: none;
		  transform: none;
	}

	input{
		font: var(--content-text-font-size-desktop)/28px 'Roboto', sans-serif;
	}
	textarea {
		font: var(--content-text-font-size-desktop)/28px 'Roboto', sans-serif;
	}

	.action-button{
		font-size: 16px;
	}
	#presentation-video-header {
		margin-top: 20px;
	}
	#presentation-video {
		margin-left: 10px;
		margin-right: 10px;
	}

	.modal-content h1{
		font-size: var(--section-header-font-size-desktop);
	}
	.modal-content h2{
		font-size: var(--section-subheader-font-size-desktop);
		line-height: var(--section-subheader-line-height-desktop);
	}
	.modal-content p{
		font-size: var(--content-text-font-size-desktop);
		line-height: var(--content-text-line-height-desktop);
	}

	#footer{
		width: 99%;
		font-size: var(--footer-font-size-desktop);
	}

	#footer-nav > li{
		margin-right: 20px;
	}

	#voucher-wrapper > #voucher-error{
		font-size: var(--content-text-font-size-desktop);
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.big-text { 
		margin-top:-40px;
		font-size: 40px; 
		line-height:40px;
	}
	.small-text { 
		margin-top:25px;
	}
	.flipWrapper {
		height: 236px;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
		width:100%;
	}
	.flipWrapper .card .layover{
		display: none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.big-text { 
		margin-top:-40px;
		font-size: 30px; 
		line-height:30px;
	}
	.small-text { 
		margin-top:20px;
		font-size: 20px; 
		line-height:20px;
	}
	.flipWrapper {
		height: 420px;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
		width:100%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.big-text { 
		margin-top:-40px;
		font-size: 20px; 
		line-height:20px;
	}
	.big-text span{ 
		padding-left:15px; 
		padding-right:15px;
	}
	.small-text { 
		margin-top:15px;
		font-size: 18px; 
		line-height:18px;
	}
	.social-top{ 
		margin-top:50px;
	}
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}
	#about svg{
		display:none;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		width:100%;
	}
	.facts-line{
		display:none;
	}
	.logos-wrap{
		width: 50%;
	}	
	.project-info{
		width:200px;
	}
}

@media only screen and (max-width: 319px) {
	.big-text { 
		margin-top:-30px;
		font-size: 15px; 
		line-height:15px;
	}
	.big-text span{ 
		padding-left:0; 
		padding-right:0;
		padding-bottom:0;
		border:none;
	}
	.small-text { 
		margin-top:0;
		font-size: 14px; 
		line-height:14px;
	}
	.social-top{ 
		margin-top:20px;
	}
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-left.png') no-repeat center center;
		background-size:16px 29px;
		left:20px;
		width:16px;
		height:29px;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
		background:url('../images/arrow-right.png') no-repeat center center;
		background-size:16px 29px;
		right:20px;
		width:16px;
		height:29px;
	}
	#about svg{
		display:none;
	}
	.flipWrapper {
		height: 220px;
	}
	.flipWrapper svg {
		display:none;
	}
	.flipWrapper .card .face {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		padding-right:0;
		width:100%;
	}
	.facts-line{
		display:none;
	}
	.logos-wrap{
		width: 50%;
	}	
	.project-info{
		width:200px;
	}
}

@media (max-width: 640px) {
	.popup {
		position: relative;
		width: 100%;
	}

	.popup .modal__inner {
		width: 100%;
	}
}