
.big-text span{ 
	border-left:3px solid var(--gold-color);
	border-right:3px solid var(--gold-color);
}
ul.slimmenu li a:hover {
    border-bottom:1px solid var(--gold-color);
}
ul.slimmenu li ul li a:hover {
    border-bottom:1px solid var(--gold-color);
}
.list-social li.icon-soc a {
	color: var(--gold-color);
}
.line-drawing path {
	stroke: var(--gold-color);
}
/* h1 span:before  {
	color: var(--gold-color);
} 
h1 span:after  {
	color: var(--gold-color);
}*/
.team-social li.icon-team a {
	color:var(--gold-color);
}
.facts-wrap-num{
	color:var(--gold-color);
}  
.portfolio-box h4{ 
	color:var(--gold-color);
}
#action p {
	color:var(--gold-color);
}
.pace .pace-progress {
  background: var(--gold-color);
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px var(--gold-color), 0 0 5px var(--gold-color);
}
.pace .pace-activity {
  border-top-color: var(--gold-color);
  border-left-color: var(--gold-color);
}
.icon-left1{
	color:var(--gold-color);
}
.icon-right1{
	color:var(--gold-color);
}
.services-offer .services-icon{
	color:var(--gold-color);
}
.services-offer .services-link:hover{
	background:var(--gold-color);
}
.featured{
	border-top:3px solid var(--gold-color);
}
.services-offer:hover{
	border-top:3px solid var(--gold-color);
}
.icon-contact1{
	color:var(--gold-color);
} 
.icon-footer{
	color:var(--gold-color);
} 
.icon-test  {
	color:var(--gold-color);
}
.bx-wrapper .bx-controls-direction a {
	background-color:var(--gold-color);
}
#footer .back-top{
	color:var(--gold-color);
}
